<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoTransformer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
      <PhotoTransformer.Properties.Settings>
        <setting name="FileFormat" serializeAs="String">
          <value>JPG</value>
        </setting>
        <setting name="QualityLevel" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="DirectoryForPhotoTransforming" serializeAs="String">
          <value>C:\Users\ben.degens\Desktop\2018-04-08</value>
        </setting>
        <setting name="PreFixPhotoName" serializeAs="String">
          <value />
        </setting>
        <setting name="Transformation_MirrorType" serializeAs="String">
          <value>Horizontal</value>
        </setting>
      </PhotoTransformer.Properties.Settings>
    </applicationSettings>
</configuration>